# Django settings
/settings.py
*.env

# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Django migrations
*/migrations/

# Database
db.sqlite3

# Media files
/media/

# Static files
/static/

# Environment variables file
.env

# IDEs and editors
.vscode/
.idea/

# Virtual environments
venv/
env/
