{% extends 'main/base.html' %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Todolist{% endblock %}</title>
</head>
<body>
{% block content %}

<h1>{{vi.name}}</h1>
	<ul>
	<form method="POST" action="#">
        {% csrf_token %}
		{% for item in vi.items.all %}
			{%if item.complete%}
				<li> 
                    <input type="checkbox" name="c{{item.id}}" checked> 
                {{item.text}}- COMPLETE</li>
			{%else%}
				<li><input type="checkbox" name="c{{item.id}}">{{item.text}}- INCOMPLETE</li>
            {% endif %}
            {% empty %}
            <li>no items</li>
		{% endfor %}
		<button type="submit" name="save" value="save">Save</button>
        <input type="text" name="new">
		<button type="submit" name="new_item" value="new_item">New Item</button>
		{% if error_message %}
    <div style="color: red;">{{ error_message }}</div>
{% endif %}

	</form>
	</ul>
{% endblock %}
</body>
</html>